.bornfight-albumListFilter__search i {
  position: absolute;
  right: 0px;
  opacity: 0.2;
}

.bornfight-albumListFilter__search {
  height: 40px;
  margin: auto 0;
  padding: 0 !important;
  mix-blend-mode: normal;
  border-radius: 4px;
  position: relative;
  width: 420px;
}

.material-icons {
  padding: 10px;
}

.bornfight-albumListFilter__input {
  width: 390px;
  padding: 12px 14px;
  font-size: 14px;
  text-align: left;
  opacity: 0.2;
}

.bornfight-albumListFilter__suggestionList {
  display: block;
  position: absolute;
  width: 390px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  margin: 5px 0;
  padding-inline-start: 30px;
}

.bornfight-albumListFilter__suggestionListItem {
  cursor: pointer;
  list-style: none;
  padding: 10px 0;
  color: #000;
}

@media only screen and (max-width: 600px) {
  .bornfight-albumListFilter__search i {
    right: 25px;
  }

  .bornfight-albumListFilter__search {
    width: 90%;
    margin: auto;
  }

  .bornfight-albumListFilter__input {
    width: 85%;
    padding: 12px 0;
  }

  .bornfight-albumListFilter__suggestionList {
    position: relative;
    width: 85%;
    margin: 0 auto;
    padding: 0px;
  }

  .bornfight-albumListFilter__suggestionListItem {
    padding: 10px 5px;
  }
}