.bornfight-albumItem__entry {
  position: relative;
  display: table;
  height: 90px;
  margin: 10px 180px;
  background-color: #fff;
  box-shadow: 0px 1px 3px #e7e7e7;
  vertical-align: middle;
}

.bornfight-albumItem__entry-imgColumn,
.bornfight-albumItem__entry-artistTitleColumn,
.bornfight-albumItem__entry-releasedColumn,
.bornfight-albumItem__entry-priceColumn,
.bornfight-albumItem__entry-favoriteColumn {
  display: table-cell;
  vertical-align: middle;
  padding-left: 18px;
}

.bornfight-albumItem__entry-imgColumn {
  width: 5%;
}

.bornfight-albumItem__entry-artistTitleColumn {
  width: 40%;
}

.bornfight-albumItem__entry-titleColumn {
  font-size: 18px;
  color: #363636;
  font-weight: 500;
  margin: 6px 0;
}

.bornfight-albumItem__entry-artistColumn {
  font-size: 12px;
  font-weight: 400;
  color: #a0a0a0;
  margin: 6px 0;
  text-decoration: none;
}

.bornfight-albumItem__entry-artistColumn a {
  font-size: 12px;
  font-weight: 400;
  color: #a0a0a0;
  margin: 6px 0;
  text-decoration: none;
}

.bornfight-albumItem__entry-artistColumn a:hover {
  font-size: 12px;
  font-weight: 400;
  margin: 6px 0;
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.bornfight-albumItem__entry-releasedColumn {
  font-size: 14px;
  width: 15%;
  text-align: center;
}

.bornfight-albumItem__entry-priceColumn {
  width: 10%;
  text-align: center;
}

.bornfight-albumItem__entry-favoriteColumn {
  width: 15%;
  text-align: center;
}

.bornfight-albumItem__entry-favoriteButton {
  background: #13d6ea;
  border-radius: 3px;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #ffffff;
  width: 125px;
  height: 25px;
  text-align: center;
  border: none;
}

.bornfight-albumItem__entry-removeFavoriteButton {
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #13d6ea;
  width: 125px;
  height: 25px;
  border: none;
  background-color: #fff;
}

.bornfight-albumItem__entry-imgColumn img {
  height: 54px;
  width: 54px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 3.85714px;
  vertical-align: middle;
}

@media only screen and (max-width: 600px) {
  .bornfight-albumItem__entry {
    display: block;
    height: initial;
    margin: 10px auto;
    width: 85%;
    text-align: center;
  }

  .bornfight-albumItem__entry-titleColumn {
    margin: 6px 25px;
    text-align: center;
  }

  .bornfight-albumItem__entry-artistTitleColumn {
    width: 90%;
    display: inline;
    margin: 0;
    padding: 0;
  }

  .bornfight-albumItem__entry-imgColumn img {
    height: max-content;
    width: max-content;
  }

  .bornfight-albumItem__entry-artistColumn {
    font-size: 12px;
    font-weight: 400;
    color: #a0a0a0;
    margin: 15px 0 0;
    text-align: center;
    text-decoration: none;
  }

  .bornfight-albumItem__entry-artistColumn, .bornfight-albumItem__entry-artistColumn a, .bornfight-albumItem__entry-artistColumn a:hover {
    font-size: 18px;
  }

  .bornfight-albumItem__entry-releasedColumn {
    width: 50%;
    display: inherit;
  }

  .bornfight-albumItem__entry-favoriteButton {
    font-size: 12px;
    width: 140px;
    height: 40px;
  }

  .bornfight-albumItem__entry-removeFavoriteButton {
    font-size: 12px;
    width: 140px;
    height: 40px;
  }

  .bornfight-albumItem__entry-imgColumn,
  .bornfight-albumItem__entry-artistTitleColumn,
  .bornfight-albumItem__entry-releasedColumn,
  .bornfight-albumItem__entry-priceColumn,
  .bornfight-albumItem__entry-favoriteColumn {
    padding: 5px 20px;
    margin: 5px auto;
    display: inline-block;
    width: 90%;
  }
}
